<section class="py-5">
    <h1 class="display-3">
        Than You
    </h1>
    {{!-- Confirmation Message you want to show when book is sale --}}
    <p class="lead">
        You Product is emailed with one working day
    </p>
    <a href="/" class="btn btn-success btn-dark btn-lg">Go Back Home</a>
</section>